@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BP_WebSite.Models.Kullanici

<h3 class="text-heading" style="margin-top:32px;">Giriş Yap</h3>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
<div class="adapt_area" style="padding-top: 0px;">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div style="width: 100%;">
                <div class="adapt_about">
                    <div class="row align-items-center">
                        <div class="single_adapt text-center" style="width: 100%;">
                            <div> @ViewBag.LoginError</div>
                            <form>
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    @Html.TextBoxFor(m => m.kullaniciAdi, new { @class = "single-input", placeholder = "Kullanıcı Adı", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'Kullanıcı Adı'", required = "" })
                                </div>
                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    <input type="password" name="sifre" placeholder="Şifre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Şifre'" required="" class="single-input">
                                </div>
                                <input type="submit" value="Giriş Yap" class="genric-btn success circle mt-10 single-input" data-toggle="tooltip" data-placement="top">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

